# Node
node_modules/
**/node_modules/
dist/
**/dist/
*.log

# Python
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc

# Environment secrets
.env
**/.env

# Uploads
uploads/
**/uploads/

# OS/Editor
.DS_Store
.vscode/
.idea/